SMASH_ENVIRONMENT=local
SMASH_API_PORT=3000
SMASH_WEB_PORT=3001
SMASH_POSTGRES_PORT=5432
SMASH_MINIO_PORT=9000
SMASH_MINIO_CONSOLE_PORT=9001
POSTGRES_DB=smash
POSTGRES_USER=smash_app
POSTGRES_PASSWORD=smash_local_only_change_me
SMASH_MINIO_ROOT_USER=smash_bootstrap
SMASH_MINIO_ROOT_PASSWORD=smash_bootstrap_local_only_change_me
SMASH_MINIO_BUCKET=smash
SMASH_DATABASE_URL=postgres://smash_app:smash_local_only_change_me@postgres:5432/smash
SMASH_MINIO_ENDPOINT=http://minio:9000
SMASH_MINIO_ACCESS_KEY=smash_runtime
SMASH_MINIO_SECRET_KEY=smash_runtime_local_only_change_me
SMASH_TENANT_ID=00000000-0000-0000-0000-000000000001
