ENGRAVE_ENVIRONMENT=local
ENGRAVE_API_PORT=3000
ENGRAVE_WEB_PORT=3001
ENGRAVE_POSTGRES_PORT=5432
ENGRAVE_MINIO_PORT=9000
ENGRAVE_MINIO_CONSOLE_PORT=9001
POSTGRES_DB=engrave
POSTGRES_USER=engrave_app
POSTGRES_PASSWORD=engrave_local_only_change_me
ENGRAVE_MINIO_ROOT_USER=engrave_bootstrap
ENGRAVE_MINIO_ROOT_PASSWORD=engrave_bootstrap_local_only_change_me
ENGRAVE_MINIO_BUCKET=engrave
ENGRAVE_DATABASE_URL=postgres://engrave_app:engrave_local_only_change_me@postgres:5432/engrave
ENGRAVE_MINIO_ENDPOINT=http://minio:9000
ENGRAVE_MINIO_ACCESS_KEY=engrave_runtime
ENGRAVE_MINIO_SECRET_KEY=engrave_runtime_local_only_change_me
ENGRAVE_TENANT_ID=00000000-0000-0000-0000-000000000001
